In [73]:
from pathlib import Path
import re
import spacy # сначала пробовала NLTK, но в английском языке плохо лемматизируются формы глаголов
import collections
import pandas as pd

In [74]:
!wget https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/An_Introduction_to_Geology.txt
!wget https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/Lumen_Learning_Geology.txt
!wget https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/Physical_Geology_2nd_Ed.txt

--2023-02-18 05:41:04--  https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/An_Introduction_to_Geology.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1092338 (1.0M) [text/plain]
Saving to: ‘An_Introduction_to_Geology.txt’

An_Introduction_to_ 100%[===================>]   1.04M  --.-KB/s    in 0.03s

2023-02-18 05:41:04 (31.3 MB/s) - ‘An_Introduction_to_Geology.txt’ saved [1092338/1092338]

--2023-02-18 05:41:04--  https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/Lumen_Learning_Geology.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 994855 (972K) [text/plain]
Saving to: ‘Lumen_Learning_Geology.txt’

Lumen_Learning_Geol 100%[===================>] 971.54K  --.-KB/s    in 0.03s

2023-02-18 05:41:04 (27.6 MB/s) - ‘Lumen_Learning_Geology.txt’ saved [994855/994855]

--2023-02-18 05:41:04--  https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/Physical_Geology_2nd_Ed.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1268644 (1.2M) [text/plain]
Saving to: ‘Physical_Geology_2nd_Ed.txt’

Physical_Geology_2n 100%[===================>]   1.21M  --.-KB/s    in 0.04s

2023-02-18 05:41:05 (31.3 MB/s) - ‘Physical_Geology_2nd_Ed.txt’ saved [1268644/1268644]

In [75]:
text0, text1, text2 = Path('An_Introduction_to_Geology.txt').read_text(), Path('Lumen_Learning_Geology.txt').read_text(), Path('Physical_Geology_2nd_Ed.txt').read_text()
text = " ".join([text0, text1, text2])
print(f'Описание сырых данных\n\nДлина объединенного документа: {len(text)} знаков\n\
Приблизительное общее количество слов: {len(text.split(" "))}')

Описание сырых данных

Длина объединенного документа: 3334187 знаков
Приблизительное общее количество слов: 516254

In [76]:
# замена всех символов, кроме букв, апострофов и дефисов, на пробел
clean_text1 = re.sub("[^a-zA-Z’-]", " ", text)

# проверка результата
clean_text1[7500:8000]

'it together like pieces of a jigsaw puzzle  People noticed the similarities in the coastlines of South America and Africa on the first world maps  and some suggested the continents had been ripped apart  Antonio Snider-Pellegrini did preliminary work on continental separation and matching fossils in       The shape of the continents is different than what is seen by just coastlines  Map of world elevations  Note the light blue  which are continental shelves flooded by shallow ocean water  These '

In [77]:
# удаление лишних пробелов
clean_text = re.sub("\s+", " ", clean_text1)

# проверка результата
clean_text[7500:8000]

' coastlines Map of world elevations Note the light blue which are continental shelves flooded by shallow ocean water These show the true shapes of the continents What Wegener did differently was synthesize a large amount of data in one place He used true edges of the continents based on the shapes of the continental shelves This resulted in a better fit than previous efforts that traced the existing coastlines There are four different fossil organisms that connect South America Africa India Anta'

In [78]:
# добавление собственных стоп-слов
!wget https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/mystopwords.txt
new_stopwords = Path('mystopwords.txt').read_text()
new_stopwords = new_stopwords.split('\n')
new_stopwords

--2023-02-18 05:41:05--  https://raw.githubusercontent.com/ov-tokareva/CL-Project/main/mystopwords.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 150 [text/plain]
Saving to: ‘mystopwords.txt’

mystopwords.txt     100%[===================>]     150  --.-KB/s    in 0s

2023-02-18 05:41:06 (11.0 MB/s) - ‘mystopwords.txt’ saved [150/150]

['figure',
 'chapter',
 'area',
 'large',
 'show',
 'year',
 'cc',
 'cause',
 'example',
 'call',
 'like',
 'different',
 'create',
 'license',
 'know',
 'answer',
 'correct',
 'incorrect',
 'exercise',
 'km',
 '']

In [79]:
en = spacy.load('en_core_web_sm')
spacy_sw = en.Defaults.stop_words
print('Spacy: ', type(spacy.load('en_core_web_sm').Defaults.stop_words))

Spacy:  <class 'set'>

In [80]:
sw_set = set(en.Defaults.stop_words)
for elem in new_stopwords:
  spacy_sw.add(elem)
print(f"Образец дополненного множества\n", sw_set)

Образец дополненного множества
 {'front', 'meanwhile', 'whereas', 'license', 'became', 'area', 'i', 'first', 'move', 'sometimes', 'formerly', 'beyond', 'against', 'his', 'quite', 'of', 'take', 'know', 'would', 'not', 'sometime', 'anything', 'various', 'therefore', 'toward', 'e', 'what', 'hereafter', 'few', 'hers', 'p', 'has', 'put', 'too', 're', 'upon', 'seemed', 'used', "n't", 'another', 'had', 'seeming', 'indeed', 'somehow', 'thru', 'might', 'some', 'still', 'yourselves', 'latterly', 'somewhere', 'example', 'due', 'anyone', 'made', '’m', '’re', 'really', 'whose', 'such', 'cannot', 'though', 'top', 'ourselves', 'he', 'figure', 'we', 'regarding', '‘m', 'yet', 'm', 'exercise', 'by', 'nevertheless', '‘ll', 'anyway', 'well', "'re", 'keep', 'thereby', 'chapter', 'until', '’ll', 'b', 'along', 'that', 'while', 'seem', 'my', 'their', 'hence', 'or', 'just', 'two', '’s', 'whither', 'twelve', 'mine', 'herself', '‘ve', 'hundred', 'together', 'create', "'d", 'answer', 'when', 'almost', 'using', 'show', 'go', 'become', 'our', 'forty', 'on', 'none', 'see', 'incorrect', 'back', 'have', 'over', 'eight', 'each', 'either', 'via', 'full', 'sixty', 'km', 'whom', 'everything', 'former', 'someone', 'the', 'should', 'so', 'you', 'last', 'done', 'even', 'ten', 'an', 'cause', 'him', 'whatever', 'any', 'namely', 'neither', 'to', 'other', 'out', 'say', 'ours', 'doing', 'everywhere', 'afterwards', 'less', 'thereupon', '’ve', 'alone', 'was', 'must', 'onto', 'yours', 'then', 'both', 'fifty', 'towards', 'is', 'bottom', 'may', 'ca', 'more', 'never', "'ve", 'without', 'already', 'eleven', 'make', 'down', 'itself', 'next', 'its', 'himself', '‘re', 'nowhere', 'most', 'within', 'about', 'whole', "'m", 'seems', 'thereafter', 'under', 'will', 'since', 'above', 'anyhow', 'for', 'because', 'further', 'beside', 'wherein', 'being', 'she', 'and', 'several', 'hereby', 'in', 'whereby', 'wherever', 'one', 'also', 'once', 'here', 'else', 'whether', 'three', 'be', 'her', 'across', 'thence', 'as', "'ll", 'n‘t', 'fifteen', 'but', 'others', 'different', 'can', 'from', 'are', 'unless', 'side', 'these', 'nor', 'elsewhere', 'own', 'could', 'enough', 'there', 'many', 'therein', 's', 'part', 'five', 'correct', 'every', 'except', 'call', 'all', 'much', 'off', 'a', 'herein', 'serious', 'myself', 'six', 'them', 'whereafter', 'does', 'behind', 'large', 'whereupon', 'please', 'they', 'how', 'mostly', 'beforehand', 'n’t', 'often', 'noone', 'like', 'where', 'per', 'than', 'been', 'yourself', 'besides', 'nobody', 'least', 'why', 'g', 'below', 'c', 'ever', 'however', 'thus', 'after', 'with', 'those', 'cc', 'everyone', 'whenever', 'moreover', 'if', 'four', 'anywhere', 'only', '‘d', 'it', 'us', 'very', 'through', 'rather', 'something', 'am', 'becoming', '‘s', 'who', 'among', 'at', 'into', 'your', 'empty', 'around', 'before', 'were', 'throughout', 'again', 'between', 'nine', 'which', 'same', 'perhaps', 'nothing', 'latter', 'amount', 'get', 'year', 'becomes', 'no', 'always', 'themselves', 'whence', 'during', 'amongst', 'twenty', "'s", 'otherwise', 'whoever', 'now', 'this', 'me', 'up', '’d', 'give', 'third', 'did', 'hereupon', 'although', 'do', 'name'}

In [81]:
# лемматизация и токенизация
nlp = spacy.load('en_core_web_sm')
nlp.max_length = len(text) # строка нужна для преодоления ограничения в 1,000,000 символов
doc = nlp(clean_text)

In [82]:
lemmatized_tokens = [token.lemma_.lower() for token in doc if not token.is_stop]
print(lemmatized_tokens[5000:6000])

['live', 'complete', 'darkness', 'ocean', 'floor', 'deprive', 'oxygen', 'sunlight', 'use', 'geothermal', 'energy', 'provide', 'vent', 'process', 'call', 'bacterial', 'chemosynthesis', 'feed', 'sulfur', 'compound', 'discovery', 'scientist', 'believe', 'life', 'earth', 'exist', 'photosynthesis', 'process', 'require', 'sunlight', 'scientist', 'suggest', 'type', 'environment', 'origin', 'life', 'earth', 'extraterrestrial', 'life', 'galaxy', 'jupiter', 'moon', 'europa', 'quiz', 'check', 'comprehension', 'section', 'click', 'directly', 'button', 'bar', 'feature', 'find', 'rift', 'zone', 'high', 'mountain', 'range', 'continent', 'tsunamis', 'earthquake', 'volcanic', 'arc', 'trenches', 'grabens', 'faults', 'rift', 'angle', 'rifts', 'know', 'normal', 'faulting', 'angle', 'form', 'fail', 'rift', 'arm', 'valley', 'call', 'graben', 'rifts', 'know', 'normal', 'faulting', 'angle', 'form', 'fail', 'rift', 'arm', 'valley', 'call', 'graben', 'midocean', 'ridge', 'earth', 'good', 'current', 'active', 'rifting', 'andes', 'central', 'australia', 'east', 'africa', 'japan', 'mariana', 'trench', 'east', 'africa', 'famous', 'rift', 'valley', 'home', 'human', 'east', 'africa', 'famous', 'rift', 'valley', 'home', 'human', 'magma', 'generate', 'divergent', 'boundary', 'chemical', 'reaction', 'add', 'sediment', 'add', 'water', 'friction', 'decrease', 'pressure', 'extension', 'plate', 'allow', 'deep', 'material', 'rise', 'decrease', 'pressure', 'promote', 'melt', 'extension', 'plate', 'allow', 'deep', 'material', 'rise', 'decrease', 'pressure', 'promote', 'melt', 'rift', 'form', 'continent', 'feature', 'form', 'collision', 'subduction', 'zone', 'transform', 'fault', 'ocean', 'basin', 'supercontinent', 'volcanoes', 'depression', 'eventually', 'ocean', 'basin', 'form', 'rift', 'continue', 'stretch', 'crust', 'volcanoes', 'depression', 'eventually', 'ocean', 'basin', 'form', 'rift', 'continue', 'stretch', 'crust', 'happen', 'newly', 'form', 'oceanic', 'crust', 'move', 'away', 'mid', '-', 'ocean', 'ridge', 'sediment', 'get', 'thin', 'crust', 'thickens', 'crust', 'get', 'warm', 'seafloor', 'increase', 'height', 'crust', 'get', 'cold', 'mid', '-', 'ocean', 'ridge', 'warm', 'young', 'thick', 'cover', 'sediment', 'sediment', 'accumulate', 'time', 'decrease', 'height', 'cool', 'shrink', 'mid', '-', 'ocean', 'ridge', 'warm', 'young', 'thick', 'cover', 'sediment', 'sediment', 'accumulate', 'time', 'decrease', 'height', 'cool', 'shrink', 'score', 'restart', 'quiz', 'transform', 'boundaries', 'sinistral', 'move', 'left', 'dextral', 'move', 'right', 'type', 'transform', 'strike', 'slip', 'fault', 'transform', 'boundary', 'call', 'strike', '-', 'slip', 'conservative', 'boundary', 'lithospheric', 'plate', 'slide', 'past', 'horizontal', 'plane', 'movement', 'describe', 'base', 'perspective', 'observer', 'stand', 'plate', 'look', 'boundary', 'opposing', 'plate', 'dextral', 'know', 'right', '-', 'lateral', 'movement', 'describe', 'opposing', 'plate', 'move', 'right', 'sinistral', 'know', 'leave', 'lateral', 'movement', 'describe', 'opposing', 'plate', 'move', 'left', 'transform', 'boundary', 'find', 'ocean', 'floor', 'mid', '-', 'ocean', 'ridge', 'boundary', 'form', 'aseismic', 'fracture', 'zone', 'fill', 'earthquake', '-', 'free', 'transform', 'fault', 'accommodate', 'rate', 'spread', 'occur', 'ridge', 'fault', 'run', 'california', 'map', 'san', 'andreas', 'fault', 'show', 'relative', 'motion', 'transform', 'boundary', 'produce', 'significant', 'seismic', 'activity', 'primarily', 'earthquake', 'little', 'mountain', '-', 'building', 'volcanism', 'type', 'transform', 'boundary', 'contain', 'single', 'fault', 'series', 'fault', 'develop', 'place', 'plate', 'tectonic', 'stress', 'transfer', 'surface', 'type', 'active', 'boundary', 'plate', 'unable', 'shear', 'past', 'tectonic', 'force', 'continue', 'build', 'build', '-', 'energy', 'plate', 'suddenly', 'release', 'result', 'earthquake', 'eye', 'humanity', 'significant', 'transform', 'fault', 'occur', 'continental', 'plate', 'shearing', 'motion', 'frequently', 'produce', 'moderate', '-', '-', 'magnitude', 'earthquake', 'notable', 'example', 'include', 'san', 'andreas', 'fault', 'california', 'northern', 'eastern', 'anatolian', 'faults', 'turkey', 'altyn', 'tagh', 'fault', 'central', 'asia', 'alpine', 'fault', 'new', 'zealand', 'transpression', 'transtension', 'fault', 'dextral', 'leftward', 'bend', 'cause', 'uplift', 'transpressional', 'strike', '-', 'slip', 'fault', 'cause', 'uplift', 'call', 'restraining', 'bend', 'bends', 'transform', 'fault', 'compressional', 'extensional', 'force', 'secondary', 'faulting', 'zone', 'transpression', 'occur', 'component', 'compression', 'addition', 'shearing', 'motion', 'force', 'build', 'bend', 'opposing', 'plate', 'restrict', 'slide', 'past', 'force', 'continue', 'build', 'mountain', 'restraining', 'bend', 'fault', 'big', 'bend', 'locate', 'southern', 'san', 'andreas', 'fault', 'include', 'transpression', 'mountain', 'build', 'move', 'rotate', 'fault', 'dextral', 'rightward', 'bend', 'cause', 'valley', 'transtensional', 'strike', '-', 'slip', 'fault', 'transtension', 'zone', 'require', 'fault', 'include', 'releasing', 'bend', 'plate', 'pull', 'apart', 'extensional', 'force', 'depressions', 'volcanism', 'develop', 'releasing', 'bend', 'fault', 'dead', 'sea', 'find', 'israel', 'jordan', 'salton', 'sea', 'california', 'example', 'basin', 'form', 'transtensional', 'force', 'piercing', 'points', 'offset', 'left', 'wallace', 'dry', 'creek', 'carrizo', 'plain', 'california', 'note', 'creek', 'flow', 'northern', 'mountainous', 'image', 'take', 'sharp', 'right', 'view', 'flow', 'water', 'sharp', 'left', 'cause', 'san', 'andreas', 'fault', 'cut', 'roughly', 'perpendicular', 'creek', 'shift', 'location', 'creek', 'time', 'fault', 'see', 'halfway', 'trend', 'leave', 'right', 'change', 'topography', 'geological', 'feature', 'cut', 'fault', 'call', 'piercing', 'point', 'piercing', 'point', 'useful', 'recreate', 'past', 'fault', 'movement', 'especially', 'transform', 'boundary', 'transform', 'fault', 'unique', 'horizontal', 'motion', 'keep', 'geological', 'feature', 'relatively', 'intact', 'preserve', 'record', 'happen', 'type', 'fault', 'normal', 'reverse', 'tend', 'destructive', 'obscuring', 'destroy', 'feature', 'good', 'type', 'pierce', 'point', 'include', 'unique', 'pattern', 'match', 'part', 'geological', 'feature', 'separate', 'fault', 'movement', 'detailed', 'study', 'pierce', 'point', 'san', 'andreas', 'fault', 'experience', 'movement', 'million', 'year', 'movement', 'occur', 'fault', 'trace', 'video', 'origin', 'san', 'andreas', 'fault', 'mid', '-', 'ocean', 'ridge', 'subduct', 'relative', 'motion', 'remain', 'plate', 'transform', 'boundary', 'form', 'fault', 'system', 'note', 'motion', 'plate', 'exactly', 'parallel', 'fault', 'cause', 'divergent', 'motion', 'interior', 'north', 'america', 'tanya', 'atwater', 'quiz', 'check', 'comprehension', 'section', 'click', 'directly', 'button', 'bar', 'famous', 'transform', 'fault', 'know', 'boundary', 'pacific', 'plate', 'north', 'american', 'plate', 'california', 'garlock', 'fault', 'altyn', 'tagh', 'fault', 'denali', 'fault', 'san', 'andreas', 'fault', 'alpine', 'fault', 'san', 'andreas', 'fault', 'transform', 'active', 'fault', 'california', 'boundary', 'pacific', 'plate', 'north', 'american', 'plate', 'san', 'andreas', 'fault', 'transform', 'active', 'fault', 'california', 'boundary', 'pacific', 'plate', 'north', 'american', 'plate', 'make', 'transform', 'boundary', 'boundary', 'transform', 'old', 'transform', 'make', 'mountain', 'transform', 'earthquake', 'transform', 'common', 'transform', 'volcano', 'transform', 'fault', 'know', 'relative', 'lack', 'mountain', 'volcano', 'old', 'common', 'boundary', 'transform', 'fault', 'know', 'relative', 'lack', 'mountain', 'volcano', 'old', 'common', 'boundary', 'type', 'motion', 'occur', 'transform', 'boundary', 'plates', 'apart', 'underneath', 'transform', 'boundary', 'shear', 'movement', 'plate', 'past', 'rrect', 'transform', 'boundary', 'shear', 'movement', 'plate', 'past', 'pierce', 'point', 'important', 'transform', 'boundary', 'help', 'erosion', 'earthquake', 'turn', 'mid', '-', 'ocean', 'ridge', 'prevent', 'volcano', 'track', 'movement', 'pierce', 'point', 'allow', 'history', 'fault', 'movement', 'reconstruct', 'include', 'movement', 'occur', 'fault', 'pierce', 'point', 'allow', 'history', 'fault', 'movement', 'reconstruct', 'include', 'movement', 'occur', 'fault', 'way', 'transform', 'fault', 'forth', 'left', 'sinistral', 'right', 'dextral', 'transform', 'fault', 'dextral', 'right', 'fault', 'sinestral', 'left', 'fault', 'transform', 'fault', 'dextral', 'right', 'fault', 'sinestral', 'left', 'fault', 'score', 'restart', 'quiz', 'wilson', 'cycle', 'diagram', 'show', 'million', 'year', 'diagram', 'wilson', 'cycle', 'show', 'rifting', 'collision', 'phase', 'wilson', 'cycle', 'name', 'j', 'tuzo', 'wilson', 'describe', 'outline', 'ongoing', 'origin', 'breakup', 'supercontinent', 'pangea', 'rodinia', 'scientists', 'determine', 'cycle', 'operate', 'billion', 'year', 'possibly', 'early', 'number', 'hypothesis', 'wilson', 'cycle', 'work', 'mechanism', 'propose', 'rifting', 'happen', 'continental', 'plate', 'reflect', 'heat', 'well', 'oceanic', 'plate', 'continent', 'congregate', 'reflect', 'earth', 'heat', 'mantle', 'generate', 'vigorous', 'convection', 'current', 'start', 'continental', 'rifting', 'process', 'geologist', 'believe', 'mantle', 'plume', 'remnant', 'period', 'increase', 'mantle', 'temperature', 'convection', 'upwelle', 'study', 'clue', 'origin', 'continental', 'rifte', 'mechanism', 'supercontinent', 'create', 'largely', 'mystery', 'school', 'thought', 'continue', 'drive', 'continent', 'apart', 'eventually', 'bring', 'ridge', '-', 'push', 'hypothesis', 'suggest', 'initial', 'rifting', 'event', 'plate', 'continue', 'push', 'apart', 'mid', '-', 'ocean', 'spread', 'center', 'underlie', 'convection', 'current', 'slab', '-', 'pull', 'propose', 'plate', 'pull', 'apart', 'descend', 'slab', 'subduction', 'zone', 'oceanic', '-', 'continental', 'margin', 'idea', 'gravitational', 'sliding', 'attribute', 'movement', 'gravitational', 'force', 'pull', 'lithospheric', 'plate', 'elevated', 'mid', '-', 'ocean', 'ridge', 'underlie', 'asthenosphere']

In [83]:
from collections import Counter
glossary = Counter(lemmatized_tokens)
freq_glossary = glossary.most_common(500)
freq_glossary[:10]

[('-', 5197),
 ('rock', 4267),
 ('water', 2362),
 ('mineral', 2012),
 ('form', 1779),
 ('earth', 1751),
 ('plate', 1346),
 ('surface', 1283),
 ('flow', 1132),
 ('earthquake', 1099)]

In [84]:
# визуализация результатов
df = pd.DataFrame(freq_glossary, columns =['word', 'frequency'])
df.style

In [85]:
df.to_excel("geology_frequent_words.xlsx")